@charset "utf-8";

/* 2015-07-05/전사 이벤트 css/ bhj */

/* danawa content */
#danawa_container {width:100%; margin:0 auto; background: #fffaf0}
#danawa_content {width:1100px;margin:0 auto;background:#fff;clear:both;*zoom:1;}

/* 2015event_winner */
.winner_toparea {position: relative;border-bottom:1px solid #d9d9d9;padding:46px 44px 50px 49px;border-left: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9}
.winner_toparea .winner_title {font-size:16px; color:#333; font-family: '맑은 고딕';padding-bottom: 18px; border-bottom: 1px solid #d9d9d9}
.winner_toparea .winner_linklist {position: absolute; top:48px;right: 49px;overflow: hidden;}
.winner_toparea .winner_linklist .toparea_select {width:123px; height: 26px;font-size:14px; font-family: '맑은 고딕';font-weight: bold;color: #666;line-height: -1px;float: left;}
.winner_toparea .winner_linklist .toparea_view_facebook {width:26px; height:26px; display:inline-block;background: url(//img.danawa.com/new/danawa_main/v1/img/ico_topbanner_fb_201507.gif) 0 0 no-repeat; text-indent: -9999px; margin: 0 6px;float: left;}
.winner_toparea .winner_linklist .toparea_view_twitter {width:26px; height:26px; display:inline-block;background: url(//img.danawa.com/new/danawa_main/v1/img/ico_topbanner_tw_201507.gif) 0 0 no-repeat; text-indent: -9999px;float: left;}
.winner_toparea .winner_title2 {font-size: 12px; color: #333; margin-top: 35px; margin-bottom: 13px;}
.winner_toparea .winner_text {margin-bottom: 37px;}
.winner_toparea .winner_list {line-height: 23px;}

/* winner_boradarea */
.winner_boradarea {padding:50px;width:1000px;}
.winner_boradarea .content_toparea .form_top_area {overflow: hidden; width:1000px;}
.winner_boradarea .content_toparea .form_top_area .link_selector {float:left;}
.winner_boradarea .content_toparea .form_top_area .link_selector .link_group {float: left;}
.winner_boradarea .content_toparea .form_top_area .link_selector .ico_link {display: inline-block;width:29px;height: 29px; margin-right: 10px;}
.winner_boradarea .content_toparea .form_top_area .link_selector .ico_link span {display: block;}
.winner_boradarea .content_toparea .form_top_area .link_selector .ico_danawa {background: url(//img.danawa.com/new/danawa_main/v1/img/ico_link_danawa_201507.gif) 0 0 no-repeat; text-indent: -9999px}
.winner_boradarea .content_toparea .form_top_area .login_comment {float: left; font-size:14px; color: #666; font-weight: bold; margin-top: 15px}
.winner_boradarea .content_toparea .form_top_area .login_comment .non_member_check {width:14px;height: 14px;}
.winner_boradarea .content_toparea .form_top_area .board_info {float: right; font-size: 13px; color: #666; font-weight: bold; margin-top: 16px;font-family:'맑은 고딕','Malgun Gothic'}
.winner_boradarea .content_toparea .form_top_area .board_info span {color: #333}
.winner_boradarea .content_toparea .form_area {overflow: hidden; position: relative;}
.winner_boradarea .content_toparea .form_area .input_area {margin-top: 10px}
.winner_boradarea .content_toparea .form_area .input_area .input_text {width:989px; height: 45px; border: 1px solid #d1d1d1; background: #f3f3f3; padding:11px 0 22px 9px;}
.winner_boradarea .content_toparea .form_area .input_area .has_guide {color: #666;}
.winner_boradarea .content_toparea .form_area .limit_info{position:absolute;top:100px;right:126px;text-align:right;margin-top:4px; float: left;font-size: 12px;color: #767676;margin-right: 6px}
.winner_boradarea .content_toparea .form_area .submit_area {float: right;}
.winner_boradarea .content_toparea .form_area .submit_area .btn_submit{width:auto;height:34px;background:#666666;color:#fff;font-size:16px;font-weight:bold;font-family:'맑은 고딕','Malgun Gothic';padding:8px 27px 10px 28px;border:none;line-height: 17px;margin-top: 10px;letter-spacing: -1px}

/* viewarea */
.winner_viewarea {font-size:12px;color:#666;line-height: 1.5}
.winner_viewarea p{margin:0;}
.winner_viewarea .msg_item{border-bottom:1px solid #e6e6e6;}
.winner_viewarea .msg_info{margin:30px 0 10px 0}
.winner_viewarea .name{color:#333;font-weight:bold; margin-right: 10px;}
.winner_viewarea .btn_edit, .winner_viewarea .btn_del{width:35px;height:18px;border:1px solid #d0d0d0;padding:0;background:none;font-size:11px;color:#767676;margin:0 0 0 7px;line-height: 18px;}
.winner_viewarea .msg_text {color: #666; margin-bottom: 30px}

/* letter_num_nav */
.letter_num_nav .nav_btn {vertical-align:top;width:7px;height:13px;padding:6px 5px 5px 5px;margin:5px 10px;border:none;}
.letter_num_nav .nav_btn span{display:block;text-align:left;text-indent:-200px;overflow:hidden;}
.letter_num_nav .nav_next {background:url(//img.danawa.com/new/danawa_main/v1/img/btn_next_201507.gif) no-repeat;}
.letter_num_nav {text-align: center;font-size:12px;color: #666; margin-top: 56px; }
.letter_num_nav .nums_wrap {display: inline-block;}
.letter_num_nav .nums_wrap a:hover {text-decoration: none;}
.letter_num_nav .num {display: inline-block;width: 24px;height: 24px;text-align: center;vertical-align: top;color: #666;line-height: 24px;}
.letter_num_nav .now_page {background: url(//img.danawa.com/new/danawa_main/v1/img/bg_nowpage_201507.gif) 0 0 no-repeat; color: #fff; font-weight: bold;}
