@charset "utf-8";
/* 
 2016-06-01 / first make pc estimation / pjy 

*/ 

/* Common */
body,form,fieldset,legend,input,textarea,button,select,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,div,span{margin:0;padding:0;}
body,input,textarea,select,button{font-size:14px;line-height:1.25em;font-family:'Apple Gothic','Droid Sans',dotum,'돋움',Gulim,'굴림',Helvetica,Arial,verdana,Sans-serif;}
body{color:#424242;font-size:14px;font-family:'Apple Gothic','Droid Sans',dotum,'돋움',Gulim,'굴림',Helvetica,Arial,verdana,Sans-serif;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
a{color:inherit;text-decoration:none;}
a:hover{text-decoration:none;}
address {font-style:normal;}

/* skip types */
.skip{display:inline-block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;text-indent:4px;white-space:nowrap;left:-1px;}
.skip_m{overflow: hidden;position: absolute;width: 1px;height: 1px;font-size: 1px;line-height: 1px;text-indent: 4px;}
.screen_out {display:block;font-size:1px;height:1px;line-height:0;overflow:hidden;position: absolute;text-indent: 10px;white-space: nowrap;width:1px;color:transparent;}


/* Compare Product */
.prod_compare .compare_head{position:relative;box-shadow:0 3px 3px rgba(0,0,0,.15);z-index:10;*zoom:1;}
.prod_compare .head_main{background:#5c8ddf;text-align:center;padding:10px 50px;}
.prod_compare .head_main h2{font-size:16px;color:#fff;line-height:22px;}
.prod_compare .head_main .prodlist_ico{display:block;position:absolute;width:34px;height:34px;text-indent:-200px;overflow:hidden;border:none;top:4px;}
.prod_compare .link_back{left:7px;background-position:4px -392px;}
.prod_compare .toggler_share{right:7px;background-position:3px -446px;}
.prod_compare .head_sub{background:#fff;border-bottom:1px solid #b8b8b8;overflow:hidden;position:relative;padding:6px 10px;*zoom:1;}
.prod_compare .head_sub .sns_list{float:left;}
.prod_compare .head_sub .ico_sns{display:block;float:left;width:29px;height:29px;overflow:hidden;margin-right:6px;text-indent:-200px;padding:0;border:none;cursor:pointer;}
.prod_compare .sns_facebook{background-position:0 0;}
.prod_compare .sns_twitter{background-position:-50px 0;}
.prod_compare .sns_me2day{background-position:-100px 0;}
.prod_compare .sns_kakaot{background-position:0 -50px;}
.prod_compare .sns_kakaos{background-position:-50px -50px;}
.prod_compare .sns_line{background-position:-100px -50px;}
.prod_compare .head_sub .other_share{float:right;}
.prod_compare .head_sub .btn_share{height:29px;width:29px;float:left;position:relative;border:1px solid #cdcdcd;background:#e7e7e7;background:-moz-linear-gradient(top,#fff 0%,#e7e7e7 100%);background:-webkit-linear-gradient(top,#fff 0%,#e7e7e7 100%);background:linear-gradient(top,#fff 0%,#e7e7e7 100%);overflow:hidden;padding:0;vertical-align:top;border-radius:3px;margin-left:6px;}
.prod_compare .head_sub .prodlist_ico{display:block;position:absolute;width:100%;height:100%;top:0;left:0;text-indent:-200px;overflow:hidden;}
.prod_compare .share_url .prodlist_ico{background-position:3px -496px;}
.prod_compare .share_msg .prodlist_ico{background-position:3px -544px;}
.prod_compare caption{caption-side:bottom;height:0;line-height:0;overflow:hidden;text-indent:-999em;text-align:left;}
.prod_compare .compare_body{overflow:hidden;border-bottom:1px solid #8f8f8f;padding-left: 86px;}
.prod_compare .compare_basis{float:left;width:85px;border-right:1px solid #8f8f8f;margin-left: -86px;}
.prod_compare .basis_table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:100%;}
.prod_compare .basis_table th{font-size:14px;line-height:18px;font-weight:normal;color:#21232a;background:#f8f8f8;border-top:1px solid #d8d8d8;text-align:left;letter-spacing:-1px;overflow:hidden;padding:6px 4px 6px 8px;vertical-align:top;}
.prod_compare .basis_table .my_choice th{border-top-width:0;}
.prod_compare .basis_table .prod_info th{}	 /* border-top-color:#8f8f8f; */
.prod_compare .basis_table .compare_num{display:block;font-size:16px;color:#553de8;font-weight:bold;margin:2px 0;}
.prod_compare .compare_items{position:absolute;left:85px;top:0px;overflow:hidden;width: 100%;background: #fff;}
.prod_compare .compare_items .item_wrap{}	/* position:absolute;top:0;left:0 */
.prod_compare .items_table{table-layout:fixed;border-collapse:collapse;border-spacing:0;width:auto;}
.prod_compare .items_table td{font-size:14px;line-height:18px;width:90px;text-align:center;color:#000;padding:6px 5px;word-break:keep-all;border:solid #d8d8d8;border-width:1px 1px 0;}
.prod_compare .items_table .my_choice td{border-top-width:0;background:#f8f8f8;color:#b182f1;font-weight:bold;}
.prod_compare .items_table .prod_info td{/*vertical-align:top;*/}   /* border-top-color:#8f8f8f; */
.prod_compare .items_table .prod_thumb{display:block;padding:0 5px;margin:4px auto 8px;}
.prod_compare .items_table .prod_name{width:90px;word-break:break-all;}
.prod_compare .items_table .lowest_price{color:#553de8;}
.prod_compare .items_table .selected{background:#78c341;color:#fff;}
.prod_compare .recent_list li{border-bottom:1px solid #ddd;padding:1px;}
.prod_compare .recent_list .recent_item{display:block;position:relative;padding:5px 24px 3px 9px;}
.prod_compare .recent_list .prod_name{font-size:14px;color:#000;line-height:18px;margin-bottom:1px;}
.prod_compare .recent_list .category{font-size:12px;color:#666;}
.prod_compare .recent_list .prodlist_ico{position:absolute;height:10px;width:8px;right:10px;top:50%;margin-top:-4px;background-position:0 -600px;}

/* Compare Coach Mark */
.compare_spec_layer{position:fixed;top:124px;right:10px;z-index:3100;}
.compare_spec_layer .label_go_compare{font-size:13px;display:none;text-align:right;line-height:18px;color:#ffde00;float:left;margin-right:10px;vertical-align:middle;}
.show_coach .compare_spec_layer .label_go_compare{display:block;}
.compare_spec_layer .btn_go_compare{background:#21232a;border:none;height:36px;color:#fff;font-size:18px;line-height:23px;border-radius:3px;box-shadow:1px 1px 3px rgba(0,0,0,.3);padding:0 7px;border:1px solid #fff;}
.compare_spec_layer .btn_go_compare .sel_nums{background:#78c341;color:#fff;display:inline-block;border-radius:50%;min-width:23px;height:23px;text-align:center;}


/* layout */
#wrap_pc_area{width:100%;height:100%;overflow:hidden;}
	#content_area{}


/* nav */

.tabs_menu {width:100%;border-bottom:1px solid #f3f3f3;clear:both;overflow:hidden;}
.tabs_menu li{float:left;height:45px;}
.tabs_menu li a{font-size:15px;display:block;line-height:45px;color:#666;letter-spacing:0;text-align:center;font-family:HelveticaNeue-Light,AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕',sans-serif;letter-spacing:-1px;}
.tabs_menu li.select .select_under_line{border-bottom:3px solid #009a9c;;height:42px;}/* padding:0 3px; */
.tabs_menu li.select a {color:#009a9c}
.col_01{width:33.3%;}
.col_02{width:33.3%;}
.col_03{width:33.4%;}
.col_04{width:50%;}

.navi_num_plus{font-size:11px;margin-left:2px;}


/* txt types */ 
.top_goods_subject{padding:10px 10px 9px;border-bottom:5px solid #f3f3f3;}
.txt_subject_01{color:#000;font-size:15px;line-height:18px;max-height:36px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-wrap:break-word;;margin:0;padding:0;}

.top_goods_subject2{border-bottom:none;}
.promotion_area{min-height:400px;}/* background-color:#f9f9f9; */


.zoom_spec_shadow{padding:8px 10px 10px 10px;border-bottom:5px solid #f3f3f3;}/* background-color:#fff; */
.goods_zoom_area{padding:0px 0 0px 0;text-align:center;position:relative;}
.goods_zoom_imgs{}	   /* max-width:640px; */
.zoom_img_150{width:150px;height:150px;}
.zoom_img_w100{width:100%;}
.zoom_numers{position:absolute;bottom:2px;background-color:rgba(0,0,0,.3);color:#fff;display:block;left:50%;margin:0 0 0 -24px;width:48px;height:22px;line-height:22px;font-weight:normal;font-size:16px;letter-spacing:-1px;border-radius:10px ;}

.goods_zoom_spec{background-color:#f3f3f3;padding:8px 10px;}
.goods_spec_txt{font-size:12px;color:#666;letter-spacing:-0.1px;line-height:15px;margin:0;padding:0;word-wrap:break-word;word-break:break-all;-ms-word-break:break-all;}

/* paging */
.paging_area {position:relative;padding:8px 0 0px 0;left:6px;}
.paging_main {display:inline-block;height:20px;text-align:center;width:100%;}
.paging_main .num_page {background-color:#b9b8ac;border-radius:6px;display:inline-block;height:8px;width:8px;overflow:hidden;text-indent:12px;vertical-align:top;margin:0px 12px 0px 0;border:0 none;}
.paging_main  em.num_page {background-color:#78c341;}
.paging_main .choice_num_page {background-color:#009a9c;}

.pc_goods_table{margin:10px;}
.pc_goods_table2 {margin:10px 0;}
.tbl_goods_t1 th,
.tbl_goods_t1 td {border-bottom:1px solid #d5d5d5; padding:9px 0 6px 10px; text-align:left; font-size:12px;}
.tbl_goods_t1 th {width:85px; background-color:#f8f8f8; color:#333;border-right:1px solid #d5d5d5;font-weight:normal;}
.tbl_goods_t1 td {color:#666;}
.tbl_goods_t1{padding:0px 10px 10px 10px;}
.tbl_goods_t1{width:100%; border:1px solid #d5d5d5;border-collapse:collapse;border-spacing:0}
.bor_leline{border-left:1px solid #d5d5d5;}
.tbl_goods_t1  .bor_center{text-align:center;}
.tbl_goods_t1  .bor_right{text-align:right;padding-right:10px;}
.shidden {left:-10000px; top:auto;width:1px;  height:1px; overflow:hidden;}
.num_red{font-size:12px;font-style:normal;color:#ea3f2d}
.th_bar{color:#d5d5d5;font-size:12px;}

.pc_detail_area{margin:10px;background-color:#dedede;min-height:120px;}
.pc_txt_area1{margin:10px;}
.txt_detail_01{color:#555;font-size:11px;line-height:16px;}
.txt_clip_line2{max-height:36px;overflow:hidden;}

.used_area{}
.used_list_t1 li {padding:10px;border-bottom:1px solid #f3f3f3;clear:both;overflow:hidden;}
.btm_none li{position:relative;border-bottom:none;}
.block_link {display:block;display:table;}
.title_s01 {padding:0;margin:0;font-size:13px;line-height:17px;color:#333;}
.title_s01 .normal {}
.title_nums {padding:5px 0 0 0;color:#666;font-size:12px;}
.tltle_bar{color:#d5d5d5;font-size:12px;}
.thumb_style{display:block;*float:left;}
.thumb_style2{width:45px;height:43px;display:block;position:absolute;top:50%;right:10px;margin:-22px 0 0 0;}
.thumb_style3{display:block;*float:left;margin-right:8px;}
.thumb_img01{width:80px;margin-right:10px;}
.thumb_img02{width:45px;}
.thumb_img03{width:60px;}
.title_s01_price{margin-top:11px;width:100%;}
.price_s01_tit{color:#000;font-size:11px;margin-right:6px;}
.price_t01_wrap{color:#ea3f2d;font-size:14px;}
.price_t01{font-size:15px;font-style:normal;font-weight:bold;}
.price_black_t01{color:#000;}
.price_number_t01{color:#000;font-size:13px;float:right;}
.num_t01{color:#ea3f2d;font-style:normal;}
.block_right_txt{display:table-cell;vertical-align:middle;padding:0 10px 0 0;width:100%;overflow:hidden;}
.bloc_right_align{vertical-align:middle;display:inline-block;}

.title_area_t1{background-color:#e5e5e5;min-height:26px;}
.h3_t1{font-size:12px;color:#000;line-height:26px;margin:0 0 0 10px;font-weight:normal;}


.used_list_t2 li{padding:15px 10px;}
.used_list_t3 li{padding:14px 10px;border-bottom:1px solid #f3f3f3;}
.txt_list_t1{position:relative;}
.title_s02{overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;font-size:13px;color:#333;white-space:nowrap;margin:0 80px 12px 0;padding:0;}
.title_s02_date{color:#666;font-size:12px;}
.title_date_pos{position:absolute;right:0px;top:1px;text-align:right;}
.star_mark_title{color:#666;font-sizE:12px;}
.star_mark_wrap{width:56px;height:10px;background:url(//img.danawa.com/new/mdnw/pc/img/bg_starpoint_off.png) no-repeat 0 0;background-size:56px auto;}
.star_mark_wrap span{display:block;height:10px;background:url(//img.danawa.com/new/mdnw/pc/img/bg_starpoint_on.png) no-repeat 0 0 ;float:left;background-size:56px auto;}
.star_mark_wrap .strar_point_explain{display:block;text-indent:-999em;font-size:1px;color:transparent;}
.star_mark_type1{display:inline-block; vertical-align:middle;margin-left:7px;position:relative;top:-1px;}
.star_mark_type2{float:left;display:block;position:relative;top:0px;}

.goods_score{overflow:hidden;}
.goods_score_list{float:left;width:33.3%;}
.goods_score_center{text-align:center;}
.goods_score_last{width:33.4%;text-align:right}

.text_ellipsis_line1{text-overflow:ellipsis;word-wrap:break-word;white-space:nowrap;max-height:16px;display:block;overflow:hidden;}
.purchase_postscript{border-bottom:5px solid #f3f3f3;}
.purchase_postscript .used_list_t1 li{border-bottom:none;} 
.make_notice{padding:10px;}
.txt_smp_01{color:#666;font-size:12px;line-height:16px;margin:0;padding:0;}

.btn_cart_area{padding:30px;background-color:#f3f3f3;}

.btn_cart_t01{color:#fff;font-size:17px;text-align:center;display:block;background-color:#009a9c;height:45px;line-height:45px;}
.txt_cart_01{color:#666;font-size:12px;line-height:18px;margin:19px 0 0 0;padding:0;}

.bg_f3{background-color:f3f3f3}

/* icons */
.icons_pc {background:url(http://img.danawa.com/new/mdnw/pc/img/icons.png) no-repeat;color:transparent;}
@media screen and (-webkit-min-device-pixel-ratio:1.5){
	.icons_pc {background:url(http://img.danawa.com/new/mdnw/pc/img/icons_b.png) no-repeat;-webkit-background-size:100px auto;background-size:100px auto;}
}

.icons_replay_arw{background-position:0 0px;width:24px;height:15px;display:block;text-indent:-9999em;overflow:hidden;margin-left:3px;}


.my_shopping_cont{background-color:#f3f3f3;padding:9px 8px 10px 9px;}
.tabs_shopping_list{overflow:hidden;clear:both;width:100%;}
.tabs_list_t01{height:40px;float:left;width:33.3%;display:table;}
.tabs_list_link{display:block;text-align:center;color:#666;font-size:13px;height:40px;line-height:16px;background-color:#fff;letter-spacing:-0.3px;display:table-row;}
.vc_align{vertical-align:middle;display:inline-block;display:table-cell;text-align:center;border-right:1px solid #f3f3f3;}
.tabs_link_select{background-color:#555;color:#fff;}

.nav_menu_fixed {position:fixed;z-index:987;top:0px;}
.nav_menu_area{width:100%;background-color:#fff;}
.fixed_top_margin{}

.hide{display:none !important;}
.btn_area_t1{padding:0px 35px;}
.pc_goods_title{font-size:13px;color:#000;padding-bottom:6px;font-weight:normal;}
.page_none_txt{min-height:360px;vertical-align:middle;text-align:Center;display:table;width:100%;}
.txt_01{color:#333;font-size:14px;vertical-align:middle;display:table-cell;text-align:Center;line-height:24px;}


/* list_my_notice */
.list_my_notice{border-bottom:1px solid #d5d5d5;border-top:10px solid #f3f3f3;}
.list_t {border-top:1px solid #d5d5d5;height:40px;position:relative;background-color:#fff;line-height:40px;padding:0 0 0 10px;}
.alink{display:block;height:40px;}
.link_title{color:#444;font-size:13px;margin:0 30px 0 0;padding:0;overflow:hidden;}
.ico_arw3 {background:url(http://img.danawa.com/new/mdnw/pc/img/icon_link_arw.png) no-repeat;-webkit-background-size:6px auto;background-size:6px auto;background-position:0 0px;width:6px;height:10px;display:block;text-indent:-9999em;position:absolute;right:10px;top:50%;margin-top:-5px;}

.title_s03{color:#111;font-size:16px;line-height:20px;margin:0;padding-bottom:4px;}
.text_ellipsis_line2{text-overflow:ellipsis;word-wrap:break-word;white-space:nowrap;max-height:20px;display:block;overflow:hidden;}
.top_txt_area{padding:15px;clear:both;overflow:hidden;}
.tltle_bar2:after{content:"|";color:#666;font-size:12px;}
.pc_detail_area2{margin:0 15px;background-color:#fff;}
.pc_txt_area2{margin:10px 0px;}
.txt_detail_02{color:#444;font-size:13px;line-height:20px;}

.title_area{position:relative;padding:3px 0 0 0;}
.btn_info_more{background:url(http://img.danawa.com/new/mdnw/pc/img/icon_more_plus.png) no-repeat;-webkit-background-size:8px auto;background-size:8px auto;background-position:88% center;display:block;position:absolute;right:0px;top:-4px;padding:4px 18px 3px 8px;border:1px solid #bbb;color:#333;font-size:12px;}


