@charset "euc-kr";
/*
최종작업일자 : 2012년 8월 27일
작성자 : P05
내용 : 뿌앙장터
*/

/* 뿌앙장터 */
.danawa_go_text {color:#0066ff;font-weight:bold;font-size:14px;font-family:dotum,돋움,sans-serif;margin-top:60px;margin-bottom:22px;overflow:hidden;}
.btn_dnw_go {background:url(http://img.danawa.com/new/ppuang/img/btn_danawa_go.gif) no-repeat left top;width:163px;height:25px;display:inline-block;text-indent:-9999em;margin-left:15px;vertical-align:middle;}
