
*{font-family:'Malgun Gothic','¸¼Àº °íµñ',dotum,'µ¸¿ò',gulim,'±¼¸²',AppleGothic,Helvetica,Sans-serif;margin:0;padding:0;}
.mlist {margin:20px 20px 0 10px;}
.mlist li {line-height:22px;position:relative;margin-bottom:10px;clear:both;overflow:hidden;}
.mlist li a {color:#000;font-size:15px;padding:0 0 10px 8px;line-height:14px;display:block;font-weight:bold;}
.mlist li a:before{content:"";background-color:#666;width:2px;height:2px;overflow:hidden;display:inline-block;vertical-align:middle;margin-right:10px;}
h1 {text-align:center;font-size:22px;margin:20px 0;color:#000;font-family:'Malgun Gothic','¸¼Àº °íµñ',dotum,'µ¸¿ò',gulim,'±¼¸²',AppleGothic,Helvetica,Sans-serif;}
h2{background-color:#393e41;font-size:18px;color:#cbef20;border-bottom:1px solid #999;border-top:1px solid #999;padding:10px 0 15px 20px;font-family:'Malgun Gothic','¸¼Àº °íµñ',dotum,'µ¸¿ò',gulim,'±¼¸²',AppleGothic,Helvetica,Sans-serif;}
.mlist li  .r-txt{color:#393e41;font-size:12px;line-height:16px;padding-top:15px;word-break:break-all;}
.mlist li  .r-txt:before{content:"¡æ";padding-left:21px;color:#80ad00;font-weight:bold;display:inlnie-block;margin-right:5px;}
.confirm{background:#f7f381;}
.new_list{background:#999;}
.txt_top_area{margin:0 0 10px 0px}

.txt_01{font-size:13px;color:#000;}
.txt_01:before{content:"¡æ";padding-left:21px;color:#ff0000;font-weight:bold;display:inlnie-block;margin-right:5px;}