@charset "utf-8";

/* 2017-02-06 / bhj / add text_bk,c_red */

.card_popup{width:513px; height:634px; margin:0 auto 0; background:#dcdcdc url(http://img.danawa.com/new/popup/img/bg_cardpop.jpg) repeat-x; vertical-align:top;}
.card_popup img{vertical-align:top;}
.card_popup .title{height:72px; background:url(http://img.danawa.com/new/popup/img/tit_cardpop.jpg) no-repeat left top; padding:26px 0 0 20px;}
.card_popup .title strong, .card_popup .title img{vertical-align:middle;}
.card_popup .title strong{font-family:Arial, dotum; font-size:30px; color:#ec6f00;}
.card_popup .card_table{width:491px; background:url(http://img.danawa.com/new/popup/img/bg_cardtable.gif) no-repeat left bottom; margin-left:12px; padding:0 0 14px 0;}
.card_popup .card_table table{width:490px;}
.card_popup .card_table td{border-top:1px solid #ddd; border-left:1px solid #ddd; padding:9px 0 8px 0; line-height:14px;}
.card_popup .card_table td.fir{border-top:none;}
.card_popup .card_table td.img{border-left:none; text-align:center;}
.card_popup .card_table td.dete p{padding-left:18px;}
.card_popup .card_table td.dete strong{color:#5065a8;}
.card_popup .card_table td.con {text-align:center;}
.card_popup .card_table td.con p{padding-left:14px; color:#666;}
.card_popup .alert{text-align:center; padding:4px 0 0 0;}
.text_bk {display:block;margin-bottom:5px;}
.c_red {color:#e53b38;}